<div class="container">
  <h2 class="text-left">User info</h2>
  <div class="row ml-1">
  <%= image_tag user.get_profile_image(100,100) %>
  </div>
<table class="table">
  <tr>
    <th style="width: 50%">name</th>
    <th style="width: 50%"><%= user.name %></th>
  </tr>
  <tr>
    <th style="width: 50%">introduction</th>
    <th style="width: 50%"><%= user.introduction %></th>
  </tr>
</table>
    <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>

</div>

<div class="container mt-5">
  <h2>New book</h2>
  <%= form_with model: book, url: books_path do |f| %>
  <div class="row ml-1 mr-1">
    <label>Title</label>
  </div>
  <div class="row mb-3 ml-1 mr-1">
    <%= f.text_field :title, class: "w-100" %>
  </div>
  <div class="row ml-1 mr-1">
    <label>Opinion</label>
  </div>
  <div class="row mb-3 ml-1 mr-1">
    <%= f.text_area :body, class: "w-100" %>
  </div>
  <div class="row ml-1 mr-1">
    <%= f.submit "Create Book", class: "btn btn-success btn-sm text-light" %>
  </div>
  <% end %>
</div>